<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title, blog %></h2>
  <p class="blog-post-meta">Created <%= distance_of_time_in_words(blog.created_at, Time.now)%> ago, by <a href="#"><%= blog.user.first_name%></a></p>
  <p><%= blog.body[0,200] %><%= link_to " ... more", blog %></p>
</div>
