<%= form_for(@portfolio_item) do |f|%>
  <% if portfolio_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio_item.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <% portfolio_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class='col-md-6'>
      <div class="form-group">
          <%= f.label :title%>
          <%= f.text_field :title, class: 'form-control'%>
      </div>
      <div class="form-group">
          <%= f.label :subtitle%>
          <%= f.text_field :subtitle, class: 'form-control'%>
      </div>
      <hr>
      <div class="form-group">
          <%= f.label :"Facebook Link"%>
          <%= f.text_field :facebook_link, class: 'form-control'%>
      </div>
      <div class="form-group">
          <%= f.label :"Linkedin Link" %>
          <%= f.text_field :linkedin_link, class: 'form-control'%>
      </div>
      <div class="form-group">
          <%= f.label :"Instagram Link"%>
          <%= f.text_field :insta_link, class: 'form-control'%>
      </div>
      <div class="form-group">
          <%= f.label :"Github Link"%>
          <%= f.text_field :github_link, class: 'form-control'%>
      </div>
      <div class="form-group">
          <%= f.label :"Twitter Link"%>
          <%= f.text_field :twitter_link, class: 'form-control'%>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="form-group">
          <%= f.label :body%>
          <%= f.text_area :body, class: 'form-control', rows: 23 %>
      </div>
    </div>
  </div>

  <!-- <ul>
    <%= f.fields_for :technologies do |technology_form| %>
      <li>
        <%= technology_form.label :name%>
        <%= technology_form.text_field :name, class: 'form-control'%>
      </li>
    <% end%>
  </ul> -->

  <div class='row'>
    <div class='col-md-6'>
    </div>
    <div class='col-md-6'>
      <div class="actions">
        <%= f.submit "Submit", class: 'btn btn-success btn-block'  %>
      </div>
    </div>
  </div>
  <%= link_to "Back", portfolios_path%>
<% end%>
