<h1>Portfolio Index</h1>

<a href=portfolios/new>Create New Item</a>
<br><br><br>
<%= link_to "Create Rails Link",new_portfolio_path %>
<br><br><br>
<%= link_to "angular portfolios",portfolios_angular_path%>
<br><br><br>
<%= link_to "ruby on rails portfolios", portfolios_ruby_on_rails_path%>
<br><br><br>
<%=@portfolio_items.inspect%>
<br>
<%= render partial: 'portfolio_item', collection: @portfolio_items%>
