<h1>Ruby on Rails Portfolio Item</h1>
<br>
<% @portfolio_ruby_on_rails.each do |portfolio_item|%>
    <p><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id)%></p>
    <p><%= portfolio_item.subtitle%></p>
    <p><%= portfolio_item.body%></p>
    <%= image_tag portfolio_item.thumb_image if !portfolio_item.thumb_image.nil?%>
    <%= link_to "Edit", edit_portfolio_path(portfolio_item.id) %>
    <%= link_to "Show", portfolio_show_path(portfolio_item.id)%>
    <td><%= link_to 'Destroy', portfolio_path(portfolio_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <br>
<% end %>

<%= link_to "Back to Index Page", portfolios_path%>
