<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Welcome, <%= current_user.first_name %></h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= link_to "Home", root_path, class: 'nav-link'%>
      <%= link_to "Blogs", blogs_path, class: 'nav-link'%>
      <%= link_to "Portfolios", portfolios_path, class: 'nav-link'%>
      <%= login_helper('nav-link')%>
    </nav>
  </div>
</header>
