<div class=<%= location %>>
  <div><%= link_to "Home", root_path%></div>
  <div><%= link_to "About", about_path%></div>
  <div><%= link_to "Website Info", websiteInfo_path%></div>
  <div><%= link_to "Blogs", blogs_path%></div>
  <div><%= link_to "Portfolios", portfolios_path%></div>
</div>
