<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords%>"/>

    <%= favicon_link_tag 'favicon.ico'%>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <div id="background_application"></div>
      <%= render "shared/application_nav" %>

      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

          <!-- <h1>Hi <%= current_user.first_name %></h1> -->

          <%= yield %>

          <%= render "shared/application_footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
