<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords%>"/>

    <%= favicon_link_tag 'favicon.ico'%>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <div id="background_blog"></div>
      <!-- Start of navigation Bar -->
      <%= render "shared/blog_nav"%>
      <!-- End of Navigation Bar -->

      <!-- Featured Blog start -->
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-10 px-0">
          <h1 class="display-4 font-italic">Features of this Website</h1>
          <p class="lead my-3">
          <ul>
            <li>Have separate Portfolio for separate experiences</li>
            <li>Blogs are mark-up supported</li>
            <li>URLs are friendly-id supported</li>
            <li>Admin Rights are provided to admin using Role Based Permission Approach</li>
            <li>For more details about this website go through the gitHub repo of this website</li>
          </ul>
          </p>
        </div>
      </div>
      <!-- Featured Blog end -->
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
        <%= yield %>
        </div>
        <%= render 'shared/blog_sidebar'%>
      </div>
    </main>

    <%= render "shared/blog_footer"%>
  </body>
</html>
