<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords%>"/>

    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1>Hi <%= current_user.first_name %></h1>

    <% if current_user.is_a?(User) %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
    <% else %>
      <h1>Please <%= link_to "Login", new_user_session_path %> / <%= link_to "Register", new_user_registration_path %></h1>
    <% end %>

    <%= yield %>

    <%= render "shared/nav", location: 'bottom' %>

    <%= session_helper("application") %>
    © SSG - 2019
  </body>
</html>
